<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.disapps.meucartaotransporte.cards" >

    <application>
        <activity
            android:name=".ui.CardsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="meucartaotransporte.com.br"
                    android:pathPattern="/cartoes" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="meucartaotransporte.com.br"
                    android:pathPattern="/cartoes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.balance.BalanceActivity"
            android:label="@string/card_balance"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.registerCard.RegisterCardActivity"
            android:label="@string/register_card"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.extract.ExtractActivity"
            android:label="@string/card_extract"
            android:theme="@style/AppTheme" />

    </application>
</manifest>
