<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.disapps.meucartaotransporte">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <receiver android:name=".widgets.cardBalance.cardBalanceWhite.CardBalanceWidgetWhite">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/card_balance_widget_white_info" />
        </receiver>
        <receiver android:name=".widgets.cardBalance.cardBalanceBlack.CardBalanceWidgetBlack">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/card_balance_widget_black_info" />
        </receiver>

        <activity android:name=".widgets.cardBalance.cardBalanceWhite.CardBalanceWidgetWhiteConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity android:name=".widgets.cardBalance.cardBalanceBlack.CardBalanceWidgetBlackConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".services.DownloadBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.ScheduleJob"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.SaveLinesService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="UPDATE_LINES_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.DownloadLinesService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="DOWNLOAD_LINES_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.SaveSchedulesService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="UPDATE_SCHEDULES_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.DownloadSchedulesService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="DOWNLOAD_SCHEDULES_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.DownloadShapesService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="UPDATE_SHAPES_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.SaveShapesService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="SAVE_SHAPES_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.DownloadItinerariesService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="UPDATE_ITINERARIES_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.SaveItinerariesService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="SAVE_ITINERARIES_SERVICE" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.splash.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.navigation.NavigationActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.SplashTheme"
            android:launchMode="singleTask">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="meucartaotransporte.com.br"
                    android:pathPrefix="/linhas" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="meucartaotransporte.com.br"
                    android:pathPrefix="/linhas" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="meucartaotransporte.com.br"
                    android:pathPrefix="/linha" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="meucartaotransporte.com.br"
                    android:pathPrefix="/linha" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="meucartaotransporte.com.br"
                    android:pathPrefix="/cartao" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="meucartaotransporte.com.br"
                    android:pathPrefix="/cartao" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.lines.LinesActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.cards.CardsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.cards.balance.BalanceActivity"
            android:label="@string/card_balance"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.cards.registerCard.RegisterCardActivity"
            android:label="@string/register_card"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.cards.extract.ExtractActivity"
            android:label="@string/card_extract"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.line.LineActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.settings.help.HelpActivity"
            android:label="@string/help"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.schedules.SchedulesActivity"
            android:label="@string/schedules"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.settings.help.AboutActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.TranslucentStatusBar" />
        <activity
            android:name=".ui.intro.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.SplashTheme" />
        <activity
            android:name=".ui.settings.dataUsage.DataUsageActivity"
            android:label="@string/data_usage"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.club.promotion.PromotionActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.TranslucentStatusBar" />

        <receiver
            android:name=".widgets.busSchedules.busSchedulesBlack.BusSchedulesBlackWidget"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/bus_schedules_black_widget_info" />
        </receiver>

        <activity android:name=".widgets.busSchedules.busSchedulesBlack.BusSchedulesBlackWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".widgets.busSchedules.busSchedulesWhite.BusSchedulesWhiteWidget"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/bus_schedules_white_widget_info" />
        </receiver>

        <activity android:name=".widgets.busSchedules.busSchedulesWhite.BusSchedulesWhiteWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
    </application>

</manifest>