<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.disapps.meucartaotransporte.installed">

    <application>

        <activity
            android:name="br.com.disapps.meucartaotransporte.ui.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <receiver
            android:name="br.com.disapps.meucartaotransporte.widgets.busSchedules.busSchedulesBlack.BusSchedulesBlackWidget"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/bus_schedules_black_widget_info" />
        </receiver>

        <receiver android:name="br.com.disapps.meucartaotransporte.widgets.cardBalance.cardBalanceWhite.CardBalanceWidgetWhite">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/card_balance_widget_white_info" />
        </receiver>

        <receiver android:name="br.com.disapps.meucartaotransporte.widgets.cardBalance.cardBalanceBlack.CardBalanceWidgetBlack">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/card_balance_widget_black_info" />
        </receiver>

        <receiver
            android:name="br.com.disapps.meucartaotransporte.widgets.busSchedules.busSchedulesWhite.BusSchedulesWhiteWidget"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/bus_schedules_white_widget_info" />
        </receiver>

        <activity android:name="br.com.disapps.meucartaotransporte.widgets.cardBalance.cardBalanceWhite.CardBalanceWidgetWhiteConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity android:name="br.com.disapps.meucartaotransporte.widgets.cardBalance.cardBalanceBlack.CardBalanceWidgetBlackConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity android:name="br.com.disapps.meucartaotransporte.widgets.busSchedules.busSchedulesBlack.BusSchedulesBlackWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity android:name="br.com.disapps.meucartaotransporte.widgets.busSchedules.busSchedulesWhite.BusSchedulesWhiteWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name="br.com.disapps.meucartaotransporte.services.DownloadBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <service
            android:name="br.com.disapps.meucartaotransporte.services.ScheduleJob"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <service
            android:name="br.com.disapps.meucartaotransporte.services.SaveLinesService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="UPDATE_LINES_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name="br.com.disapps.meucartaotransporte.services.DownloadLinesService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="DOWNLOAD_LINES_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name="br.com.disapps.meucartaotransporte.services.SaveSchedulesService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="UPDATE_SCHEDULES_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name="br.com.disapps.meucartaotransporte.services.DownloadSchedulesService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="DOWNLOAD_SCHEDULES_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name="br.com.disapps.meucartaotransporte.services.DownloadShapesService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="UPDATE_SHAPES_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name="br.com.disapps.meucartaotransporte.services.SaveShapesService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="SAVE_SHAPES_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name="br.com.disapps.meucartaotransporte.services.DownloadItinerariesService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="UPDATE_ITINERARIES_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name="br.com.disapps.meucartaotransporte.services.SaveItinerariesService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="SAVE_ITINERARIES_SERVICE" />
            </intent-filter>
        </service>

        <activity
            android:name="br.com.disapps.meucartaotransporte.ui.splash.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="br.com.disapps.meucartaotransporte.ui.settings.help.HelpActivity"
            android:label="@string/help"
            android:theme="@style/AppTheme" />

        <activity
            android:name="br.com.disapps.meucartaotransporte.ui.settings.help.AboutActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.TranslucentStatusBar" />
        <activity
            android:name="br.com.disapps.meucartaotransporte.ui.intro.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.SplashTheme" />
        <activity
            android:name="br.com.disapps.meucartaotransporte.ui.settings.dataUsage.DataUsageActivity"
            android:label="@string/data_usage"
            android:theme="@style/AppTheme" />


        <provider
            android:name="com.crashlytics.android.CrashlyticsInitProvider"
            android:authorities="br.com.disapps.meucartaotransporte.crashlyticsinitprovider"
            tools:replace="android:authorities" />

        <provider
            android:name="android.arch.lifecycle.ProcessLifecycleOwnerInitializer"
            android:authorities="br.com.disapps.meucartaotransportebr.com.disapps.meucartaotransporte.lifecycle-trojan"
            tools:replace="android:authorities" />
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:authorities="br.com.disapps.meucartaotransportebr.com.disapps.meucartaotransporte.firebaseinitprovider"
            tools:replace="android:authorities" />

    </application>
</manifest>